<!doctype html>
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Get Hockey StatsTitle</title>
    <!--    <link href="{{ url_for('static', filename='styles/styles.css')}}" rel="stylesheet" />      -->
    <style>
        color: #164161
    </style>

</head>

<body>
    <h1>Get Hockey Stats1</h1>
    <h2>Scores Page</h2>
    <a href="/score">Score Link</a>
</body>
<body>
    <h1>Get Hockey Stats2</h1>
    <form action="/score">
        <label for="team"></label><input type="text" name="team" id="team" placeholder="Enter a Team" />
        <button type="submit">Submit</button>
    </form>
</body>
</html>