<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Get Hockey StatsTitle</title>
    <!--    <link href="{{ url_for('static', filename='styles/styles.css')}}" rel="stylesheet" />      -->
    <style>
        color: #164161
    </style>

</head>

<body>
    <h1>Get Hockey Stats1</h1>
    <h2>Scores</h2>
    <!-- This is a hidden form -->
    <form id="scoreForm" action="/league_score" method="POST" style="display: none;">
        <label for="teams"></label><input type="text" name="team" id="teams" value="TeamName" />
        <!-- Additional fields if needed -->
    </form>
    <!-- This is a link (styled as a button) that triggers the form submission -->
    <a href="#" onclick="document.getElementById('scoreForm').submit(); return false;">Score Link</a>
</body>



<body>
    <h2>Team Score</h2>
    <form action="/team_score" method="POST">
        <label for="team"></label>
        <input type="text" name="team" id="team" placeholder="Enter a Team" />
        <button type="submit">Submit</button>
    </form>
</body>
</html>